{% extends "base.html"%}
{% block content %}

<main class="main_index">
    <div class="hed_index">
        <div class="text_page">
            <div class="tile_index">
                <h1 class="container_text txt_h1">Safe Deep</h1>
                <h1 class="container_text2 txt_h1">Safe Deep</h1>
            </div>
            <p>Bem vindo ao seu novo lar <br> Aqui vamos te manter seguro <br> Seus arquivos serão Top Secret</p>
        </div>
        <div class="img_index">
            <img src="{{ url_for('static', filename='./img/personoid_secret.svg')}}" alt="Progaming"
                class="header_container_img">
        </div>
    </div>
</main>
{% endblock %}