{% extends "base.html"%}
{% block content %}
<headeder class="safety_header"></headeder>
<section id="securty">
    <main class="main_safety">
        <div class="head_safety">
            <div class="title_safety">
                <h1 class="title_safety_txt  tit_h1">Segurança da Informação</h1>
                <h1 class="title_safety_txt  tit_h2">Segurança da Informação</h1>
            </div>
            <div class="home_safety">
                <div class="text_safety">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros orci, semper sit amet
                        nulla
                        at,
                        rhoncus placerat augue. Aliquam porttitor nisi in est fringilla placerat. Aenean interdum leo
                        neque.
                        Morbi
                        sollicitudin, diam eu sagittis tincidunt, elit lacus feugiat enim, ut tincidunt urna magna eget
                        ligula.
                        Nam
                        quis sem hendrerit, malesuada velit sed, semper turpis. Duis porta purus in euismod iaculis.
                        Aliquam
                        eu
                        tristique felis, sit amet posuere ipsum. Integer elit mauris, elementum a finibus a, fringilla
                        sed
                        sem.
                        Duis
                        euismod pretium dui id cursus. Aliquam nisi quam, finibus id nunc ac, dictum lacinia est.</p>
                    <br>
                    <p>Mauris eu nisl quis nunc consectetur ornare. Aliquam bibendum ex lectus, eget lacinia ante
                        dignissim
                        quis. Sed feugiat efficitur lorem, non lacinia arcu eleifend et. Nam quis molestie velit, sit
                        amet
                        tincidunt orci. Vivamus faucibus magna cursus, faucibus tortor vehicula, luctus lacus.
                        Pellentesque
                        tristique sapien id lacus molestie, vel lacinia purus sagittis. Proin cursus leo nec tempor
                        bibendum. Suspendisse tempor, neque et dapibus consectetur, nisi leo tincidunt diam, at interdum
                        dui
                        mi ut mi. Ut rhoncus neque et metus blandit, eget maximus odio volutpat. Praesent vitae aliquet
                        lorem, sed viverra erat. Mauris suscipit dolor porttitor pretium congue.</p>
                    <br>
                    <div class="itens_safety">
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                    </div>
                </div>
                <div class="imgs_safety">
                    <img src="{{ url_for('static', filename='./img/hand.svg')}}" alt="security">
                </div>

            </div>
        </div>
    </main>
</section>

<section id="engineering">
    <main class="main_safety">
        <div class="head_safety dvs_safe">
            <div class="title_safety">
                <h1 class="title_safety_txt  tit_h1">Engenharia Social</h1>
                <h1 class="title_safety_txt  tit_h2">Engenharia Social</h1>
            </div>
            <div class="home_safety">
                <div class="text_safety">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros orci, semper sit amet
                        nulla
                        at,
                        rhoncus placerat augue. Aliquam porttitor nisi in est fringilla placerat. Aenean interdum leo
                        neque.
                        Morbi
                        sollicitudin, diam eu sagittis tincidunt, elit lacus feugiat enim, ut tincidunt urna magna eget
                        ligula.
                        Nam
                        quis sem hendrerit, malesuada velit sed, semper turpis. Duis porta purus in euismod iaculis.
                        Aliquam
                        eu
                        tristique felis, sit amet posuere ipsum. Integer elit mauris, elementum a finibus a, fringilla
                        sed
                        sem.
                        Duis
                        euismod pretium dui id cursus. Aliquam nisi quam, finibus id nunc ac, dictum lacinia est.</p>
                    <br>
                    <p>Mauris eu nisl quis nunc consectetur ornare. Aliquam bibendum ex lectus, eget lacinia ante
                        dignissim
                        quis. Sed feugiat efficitur lorem, non lacinia arcu eleifend et. Nam quis molestie velit, sit
                        amet
                        tincidunt orci. Vivamus faucibus magna cursus, faucibus tortor vehicula, luctus lacus.
                        Pellentesque
                        tristique sapien id lacus molestie, vel lacinia purus sagittis. Proin cursus leo nec tempor
                        bibendum. Suspendisse tempor, neque et dapibus consectetur, nisi leo tincidunt diam, at interdum
                        dui
                        mi ut mi. Ut rhoncus neque et metus blandit, eget maximus odio volutpat. Praesent vitae aliquet
                        lorem, sed viverra erat. Mauris suscipit dolor porttitor pretium congue.</p>
                    <br>
                    <div class="itens_safety">
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                    </div>
                </div>
                <div class="imgs_safety">
                    <img src="{{ url_for('static', filename='./img/personoid_eng.svg')}}" alt="security">
                </div>
            </div>
        </div>
    </main>
</section>

<section id="business">
    <main class="main_safety">
        <div class="head_safety dvs_safe">
            <div class="title_safety">
                <h1 class="title_safety_txt  tit_h1">Comércio Eletrônico</h1>
                <h1 class="title_safety_txt  tit_h2" id="malware">Comércio Eletrônico</h1>
            </div>
            <div class="home_safety">
                <div class="text_safety">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros orci, semper sit amet
                        nulla
                        at,
                        rhoncus placerat augue. Aliquam porttitor nisi in est fringilla placerat. Aenean interdum leo
                        neque.
                        Morbi
                        sollicitudin, diam eu sagittis tincidunt, elit lacus feugiat enim, ut tincidunt urna magna eget
                        ligula.
                        Nam
                        quis sem hendrerit, malesuada velit sed, semper turpis. Duis porta purus in euismod iaculis.
                        Aliquam
                        eu
                        tristique felis, sit amet posuere ipsum. Integer elit mauris, elementum a finibus a, fringilla
                        sed
                        sem.
                        Duis
                        euismod pretium dui id cursus. Aliquam nisi quam, finibus id nunc ac, dictum lacinia est.</p>
                    <br>
                    <p>Mauris eu nisl quis nunc consectetur ornare. Aliquam bibendum ex lectus, eget lacinia ante
                        dignissim
                        quis. Sed feugiat efficitur lorem, non lacinia arcu eleifend et. Nam quis molestie velit, sit
                        amet
                        tincidunt orci. Vivamus faucibus magna cursus, faucibus tortor vehicula, luctus lacus.
                        Pellentesque
                        tristique sapien id lacus molestie, vel lacinia purus sagittis. Proin cursus leo nec tempor
                        bibendum. Suspendisse tempor, neque et dapibus consectetur, nisi leo tincidunt diam, at interdum
                        dui
                        mi ut mi. Ut rhoncus neque et metus blandit, eget maximus odio volutpat. Praesent vitae aliquet
                        lorem, sed viverra erat. Mauris suscipit dolor porttitor pretium congue.</p>
                    <br>
                    <div class="itens_safety">
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                    </div>
                </div>
                <div class="imgs_safety">
                    <img src="{{ url_for('static', filename='./img/personoid_comercio.svg')}}" alt="security">
                </div>
            </div>
        </div>
    </main>
</section>

<section id="attacks">
    <main class="main_safety">
        <div class="head_safety dvs_safe">
            <div class="title_safety">
                <h1 class="title_safety_txt  tit_h1">Hack</h1>
                <h1 class="title_safety_txt  tit_h2" id="malware">Hack</h1>
            </div>
            <div class="home_safety">
                <div class="text_safety">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros orci, semper sit amet
                        nulla
                        at,
                        rhoncus placerat augue. Aliquam porttitor nisi in est fringilla placerat. Aenean interdum leo
                        neque.
                        Morbi
                        sollicitudin, diam eu sagittis tincidunt, elit lacus feugiat enim, ut tincidunt urna magna eget
                        ligula.
                        Nam
                        quis sem hendrerit, malesuada velit sed, semper turpis. Duis porta purus in euismod iaculis.
                        Aliquam
                        eu
                        tristique felis, sit amet posuere ipsum. Integer elit mauris, elementum a finibus a, fringilla
                        sed
                        sem.
                        Duis
                        euismod pretium dui id cursus. Aliquam nisi quam, finibus id nunc ac, dictum lacinia est.</p>
                    <br>
                    <p>Mauris eu nisl quis nunc consectetur ornare. Aliquam bibendum ex lectus, eget lacinia ante
                        dignissim
                        quis. Sed feugiat efficitur lorem, non lacinia arcu eleifend et. Nam quis molestie velit, sit
                        amet
                        tincidunt orci. Vivamus faucibus magna cursus, faucibus tortor vehicula, luctus lacus.
                        Pellentesque
                        tristique sapien id lacus molestie, vel lacinia purus sagittis. Proin cursus leo nec tempor
                        bibendum. Suspendisse tempor, neque et dapibus consectetur, nisi leo tincidunt diam, at interdum
                        dui
                        mi ut mi. Ut rhoncus neque et metus blandit, eget maximus odio volutpat. Praesent vitae aliquet
                        lorem, sed viverra erat. Mauris suscipit dolor porttitor pretium congue.</p>
                    <br>
                    <div class="itens_safety">
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                    </div>
                </div>
                <div class="imgs_safety">
                    <img src="{{ url_for('static', filename='./img/personoid_attack.svg')}}" alt="security">
                </div>
            </div>
        </div>
    </main>
</section>

<section id="crim">
    <main class="main_safety">
        <div class="head_safety dvs_safe">
            <div class="title_safety">
                <h1 class="title_safety_txt  tit_h1">Crimes Ciberneticos</h1>
                <h1 class="title_safety_txt  tit_h2" id="malware">Crimes Ciberneticos</h1>
            </div>
            <div class="home_safety">
                <div class="text_safety">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros orci, semper sit amet
                        nulla
                        at,
                        rhoncus placerat augue. Aliquam porttitor nisi in est fringilla placerat. Aenean interdum leo
                        neque.
                        Morbi
                        sollicitudin, diam eu sagittis tincidunt, elit lacus feugiat enim, ut tincidunt urna magna eget
                        ligula.
                        Nam
                        quis sem hendrerit, malesuada velit sed, semper turpis. Duis porta purus in euismod iaculis.
                        Aliquam
                        eu
                        tristique felis, sit amet posuere ipsum. Integer elit mauris, elementum a finibus a, fringilla
                        sed
                        sem.
                        Duis
                        euismod pretium dui id cursus. Aliquam nisi quam, finibus id nunc ac, dictum lacinia est.</p>
                    <br>
                    <p>Mauris eu nisl quis nunc consectetur ornare. Aliquam bibendum ex lectus, eget lacinia ante
                        dignissim
                        quis. Sed feugiat efficitur lorem, non lacinia arcu eleifend et. Nam quis molestie velit, sit
                        amet
                        tincidunt orci. Vivamus faucibus magna cursus, faucibus tortor vehicula, luctus lacus.
                        Pellentesque
                        tristique sapien id lacus molestie, vel lacinia purus sagittis. Proin cursus leo nec tempor
                        bibendum. Suspendisse tempor, neque et dapibus consectetur, nisi leo tincidunt diam, at interdum
                        dui
                        mi ut mi. Ut rhoncus neque et metus blandit, eget maximus odio volutpat. Praesent vitae aliquet
                        lorem, sed viverra erat. Mauris suscipit dolor porttitor pretium congue.</p>
                    <br>
                    
                    <div class="itens_safety">
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                        <li><a href="" class="uil uil-star"></a></li>
                    </div>
                </div>
                <div class="imgs_safety_ddos">
                    <img src="{{ url_for('static', filename='./img/personoid_ddos.png')}}" alt="security">
                </div>
            </div>
        </div>
    </main>
</section>
{% endblock %}