{% extends "base.html"%}
{% block content %}
<main class="header_main_tools">
    <div class="hed_tools">
        <div class="title_tools">
            <h1 class="title_safety_txt  tit_h1">Ferramentas</h1>
            <h1 class="title_safety_txt  tit_h2">Ferramentas</h1>
        </div>
        <section class="cards_tools">
            <div class="card_tools">
                <div class="card_top_tools">

                </div>
                <div class="card_media_1"></div>

                <div class="bottom_card_tools">
                    
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}